.container {
	max-width: 100%;
	padding: rem($global-spacing-unit);
	margin: 0 auto;
}

@each $key, $breakpoint in $breakpoints {
	$alias: $key;
	
	.container--#{$alias} {
		max-width: rem($breakpoint);
	}
}