.container {
	max-width: 100%;
	padding: rem($global-spacing-unit);
	margin: 0 auto;
}

.container--sm {
	max-width: rem(420px);
}

.container--md {
	max-width: rem(768px);
}

.container--lg {
	max-width: rem(960px);
}

.container--xl {
	max-width: rem(1200px);
}